<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Issues
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <app-issue-card *ngFor="let issue of issues" [issue] = "issue" (click)="viewIssue(issue)"></app-issue-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="newIssue()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
