.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

#top-nav-buttons {
  max-height: 60px;
}

#top-nav-buttons .is-active {
  border-bottom: 3px solid var(--ion-color-secondary);
  color: var(--ion-color-primary);
}

#top-nav-buttons 
ion-tab-bar {
  border-bottom: none;
}

#top-nav-buttons 
ion-tab-bar ion-tab-button {
  box-sizing: border-box;
  max-width: none;
}

#top-nav-buttons .tab-button {
  border-bottom: 3px solid transparent;
}

#top-nav-buttons 
ion-tab-bar ion-label {
  font-size: 16px;
}
