p {
  margin: 0;
  padding: 0;
}

ion-content {
  --padding-top: 15px;
  --padding-bottom: 15px;
  --padding-start: 10px;
  --padding-end: 10px;
}

.pinboard-container {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 8px #888888;
  min-height: 100%;
}

ion-icon {
  margin-bottom: 20px;
  font-size: 35px;
  color: var(--ion-color-secondary);
}

.pinboard-content {
  color: #434343;
  font-size: 1.2rem;
  white-space: pre-line;
}

#pin-icon {
  transform: scale(2);
  width: 60px;
  height: 60px;
  transform: rotate(-45deg);
  fill: var(--ion-color-secondary);
}