<ion-header>
  <ion-toolbar>
    <ion-button slot="start" shape="round" size="large" fill="clear" (click)="cancelPressed()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>New Issue</ion-title>
    <ion-button slot="end" shape="round" size="large" fill="clear" (click)="checkPressed()">
      <span class="toolbar-text">POST</span>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">

    <ion-item>
      <ion-label class="label" position="floating">Title</ion-label>
      <ion-input type="title" [(ngModel)]="title" (ionChange)="checkChange()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea auto-grow="true" placeholder="Enter issue description here..." type="content" [(ngModel)]="content"
        (ionChange)="checkChange()"></ion-textarea>
    </ion-item>
    
  </ion-list>
</ion-content>