<ion-header>
  <ion-toolbar>
    <ion-button slot="start" shape="round" size="large" fill="clear" (click)="routeBack()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-title>Filter Views By House</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-radio-group>
          <ion-item lines="full">
            <ion-label (click)="viewAllHouses()">Show All</ion-label>
          </ion-item>
          <app-house-list-item *ngFor="let house of houses" [house]="house"></app-house-list-item>
        </ion-radio-group>
      </ion-list>
</ion-content>
