.container {
  margin-bottom: 15px;
}
ion-card {
  display: flex;
  flex-direction: column;
}

ion-card-header {
  padding: 5px 10px;
  height: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

ion-card-title {
  font-size: 13pt;
}

ion-item {
  --padding-start: 0;
}

ion-icon {
  margin-right: 5px;
  color: var(--ion-color-secondary);
}

ion-card-content {
  height: 40%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ion-text {
  display: -webkit-box;
  max-height: 40px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

ion-chip {
  background: rgba(0, 0, 0, 0);
  color:grey;
}

.issue-meta {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20pt;
}

.meta-item {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.icon {
  margin-right: 5px;
}

p {
  padding: 0;
  margin: 0;
}