<ion-header>
  <ion-toolbar>
    <ion-title>
      Issues
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Urgent</ion-card-subtitle>
        <ion-card-title>Sink</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>The Sink is broken, it's leaking everywhere. Please fix asap!</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Low Priorety</ion-card-subtitle>
        <ion-card-title>Scratch on wall</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>There is a scratch on my wall, it needs painting over.</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Low Priorety</ion-card-subtitle>
        <ion-card-title>Scratch on wall</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>There is a scratch on my wall, it needs painting over.</p>
      </ion-card-content>
    </ion-card>

</ion-content>
