<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start" shape="round" size="large" fill="clear" (click)="backPressed()">
      <ion-icon color="light" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Issue</ion-title>
    
    <div slot="end" class="close-button-container">
      <ion-button *ngIf="issue && !issue.isResolved && isOwner" shape="round" size="large" fill="clear" (click)="confirmMarkAsResolved()">
        <ion-icon color="light" name="checkmark-circle"></ion-icon>
      </ion-button>
      <ion-text slot="end" *ngIf="issue && issue.isResolved">
        RESOLVED
      </ion-text>
    </div>

  </ion-toolbar>
</ion-header>

<div *ngIf="!issue">
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
</div>

<ion-content class="container">
  <div *ngIf="issue">
    <ion-img src="../../../../assets/shapes.svg"></ion-img>
    <div class="issue-container">
      <div class="issue-meta">
        <ion-chip color="secondary">
          <ion-avatar>
            <img
              src="https://eu.ui-avatars.com/api/?background={{ secondaryColour }}&color=FFF&bold=true&name={{ issue.author.name.replace(' ', '+') }}">
          </ion-avatar>
          <ion-label>{{ issue.author.name }}</ion-label>
        </ion-chip>
      </div>

      <ion-text color="primary">
        <h1>{{ issue.title }}</h1>
        <p>{{ parsedDate }}</p>
      </ion-text>


      <div class="content">
        <p style="white-space: pre-line">{{ issue.content }}</p>
      </div>
    </div>
  </div>
</ion-content>